{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["/^-webkit-(backdrop-filter|user-select)$/", "backdrop-filter", "user-select"]
      }
    ]
  }
}
